*{
    margin: 0;
    padding: 0;
}

body{
background :linear-gradient(#013849,#220000);
height: 100%;
font-family: system-ui;

}
a{
    text-decoration: none;
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin: 50px;
}
header .logo{
    font-size: 35px;
    text-transform: uppercase;
   
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px; /*pour hover */
    border-radius: 20px;
}
header ul li a:hover, .active{
    background: #fff;
    color:#220000
}
.sec .ig1 {
	width: 500px;
	position: relative;
    margin-bottom: 200px;
	left: 730px;
   border-radius: 10%;
   border-top-right-radius: 10%;
  
}

.sec{
    margin: 100px;
}
.mar .ig1 {
margin: 5px;
margin-top: -400px;
}
.text{
    padding-top: 60px;
    margin-top: 200px;
    font-size: 20px;
}
#look{
font-size: 70px;

}
.text h2 {
    color:#ffffff ;
    
}
.text h4{
    color: #ffffff;
	font-size: 22px;
}
.text h2 span{
    color: aquamarine;
    
}
.subscr input{
width: 315px;
	border: 0px solid #ebebeb;
	background: #fff;
	height: 48px;
	padding: 0 25px;
	border-radius: 50px;
	font-family: "Futura", sans-serif;
	font-size: 16px;
	margin-right: 8px;
	margin-bottom: 20px;
}
.subscr .btonstart{
    padding: 12px 30px;
    margin: -5px ;
    margin-bottom: 100px;
border-radius: 200px;
	background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
    font-family: "Futura", sans-serif;
	
}
.wallet {
    padding: 20px 30px 0 30px;
}

.row{
    display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
}


.walletbox {
     background: #fff;
     margin-bottom: 30px;
     transition: ease-in all 0.5s;
     padding: 25px 15px 50px 15px;
}

.walletbox h3 {
     color: #0c0b0b;
     font-size: 22px;
     text-transform: uppercase;
     transition: ease-in all 0.5s;
     font-weight: bold;
     line-height: 22px;
     padding: 20px 0 20px 0;
}

.walletbox p {
     color: #191a1a;
     font-size: 16px;
     line-height: 28px;
     transition: ease-in all 0.5s;
}

#wa_hover:hover.walletbox {
     background: #face34;
     transition: ease-in all 0.5s;
}

#wa_hover:hover i img {
     transition: ease-in all 0.5s;
}

#wa_hover:hover.walletbox h3 {
     color: #ffffff;
     transition: ease-in all 0.5s;
}

#wa_hover:hover.walletbox p {
     color: #fff;
     transition: ease-in all 0.5s;
}
/** about **/

.about {
    padding: 90px 0 60px 0;
}

.about_border {
    border: #ddd dashed 1px;
    padding: 80px 80px;
}

.about .titlepage {
    padding-bottom: 0;
    margin-bottom: 0px;
}

.about_text {
    float: right;
    max-width: 554px;
    width: 100%;
    text-align: left;
}

.about_text p {
    line-height: 33px;
    padding-top: 30px;
    font-weight: 400;
    padding-bottom: 40px;
    font-size: 17px;
}

.about_img {
    float: right;
}

.about_img figure {
    margin: 0;
}

.titlepage {
    padding-bottom: 60px;
}

.titlepage h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    color: #fff;
}

.read_more {
    display: inline-block;
    background: transparent;
    color: #fff;
    max-width: 225px;
    height: 67px;
    line-height: 67px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    transition: ease-in all 0.5s;
    border: #ffffff solid 2px;
}

.read_more:hover {
    background: #face34;
    color: #fff;
    transition: ease-in all 0.5s;
    border: #face34 solid 2px;
}

.img_responsive {
    max-width: 100%;
}
/** end about **/
.contact {
    padding: 80px 500px;
}

.row1 {
    margin-top: 20px;

}
.row1 h2 {
margin-bottom: -50px;
}
.titlepage span {
    padding-left: 100px;
}
.titlepage h2{
  padding-top:40px ;  
  padding-left: 40px;
}
.titlepage {
    margin-bottom: 40px;
    padding-bottom: 50px;
}

.main_form .contactus,
.main_form .textarea {
    border: #404b65 solid 1px;
    padding: 15px;
    margin-bottom: 25px;
    width: 100%;
    background: transparent;
    color: #5e687d;
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
}

.main_form .textarea {
    height: 100px; 
    resize: none; 
}

.main_form .send_btn {
    font-size: 20px;
    transition: ease-in all 0.5s;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 0;
    max-width: 202px;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    border-radius: 30px;
    border: #fff solid 2px;
}

.main_form .send_btn:hover {
    background-color: #face34;
    color: #fff;
    border: #face34 solid 2px;
}

/**/
.rr{
    display: flex;
    gap: 80px;
}
.footer {
    background-color: #290101;
    padding-top: 90px
}

.logo_bottom {
    font-weight: bold;
    font-size: 51px;
    color: #ffffff !important;
    line-height: 55px;
    margin-bottom: 40px;
    display: block;
}

.Informa h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 20px;
    margin-top: 26px;
    text-transform: uppercase;
}

.conta ul li a {
    color: #a4a7ae;
}

.conta ul li a i {
    padding-right: 5px;
}

.Informa ul {
    margin-top: 10px;
}

.Informa li {
    font-size: 17px;
    line-height: 29px;
    color: #a4a7ae;
}

.Informa li a:hover {
    color: #0d90ed;
}

.helpful ul li a {
    color: #a4a7ae;
    font-size: 15px;
    line-height: 29px;
}

.newslatter_form {
    margin-top: 21px;
    display: block;
}

.ente {
    background: transparent;
    color: #c9c7c7;
    border: inherit;
    padding: 0 18px;
    height: 51px;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    border: #ffffff solid 2px;
    margin-bottom: 20px;
}

.subs_btn {
    max-width: 191px;
    display: inline-block;
    background: transparent;
    height: 51px;
    width: 100%;
    color: #c9c7c7;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    transition: ease-in all 0.5s;
    border: #ffffff solid 2px;
}

.subs_btn:hover {
    background: #face34;
    transition: ease-in all 0.5s;
    border: #face34 solid 2px;
}
